<div>
  <% if header %> <!-- renders the header component -->
    <%= header %>
  <% end %>
  
  <% if titles.any? %>
    <% titles.each do |title| %>
      <div>
        <%= title %> <!-- renders an individual course title -->
      </div>
    <% end %>
  <% end %>
</div>